/******************************  Registration Main Body Section ******************************/


/******************************  Registration Left Body Section ******************************/
.left-body-content {
    width: 55%;
}

.left-body-content-top {
    width: 100%;
    margin-bottom: 5px;
}

.left-body-content-top h2 {
    display: inline-block;
    color: black;

}

.left-body-content-middle {
    background-color: rgb(53, 53, 48);
    width: 90%;
    /* height: 70%; */
    margin: auto;
    border-radius: 14px;
}

.left-body-content-middle-top {
    height: 70%;
}

.register-label {
    font-size: 20px;
    margin-left: 50px;
    color: white;

}

.register-input {
    margin-left: 10px;
}

/****************************  Right and left Body Section - common attribute *********************/
.two-body-content>div {

    margin: 5px auto 5px auto;

}

/******************************  Registration Right Body Section ******************************/

.right-body-content {
    background-color: rgb(181, 154, 207);
    width: 45%;

}

.right-body-content-top {
    width: 100%;
    /* height: 75%; */
    margin-bottom: 5px;
}

.right-body-content-top h2 {
    display: inline-block;

}

.appointment-button {
    border: none;
    background-color: green;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
    transition: all 0.5s;
    width: 80%;
}

.appointment-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.appointment-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.appointment-button:hover span {
    padding-right: 25px;
}

.appointment-button:hover span:after {
    opacity: 1;
    right: 0;
}

.right-body-content-bottom {
    width: 100%;
    /* height: 20%; */
    margin-top: 5px;
}

@media screen and (max-width: 992px) {

    .two-body-content {
        flex-direction: column;
    }

    .left-body-content,
    .right-body-content,
    .left-body-content-middle {
        border-radius: 0px;
        margin: 0;
        width: 100%;

    }

    .right-body-content {
        margin-top: -4px !important;
    }

}


/* register form */

.form-group label {
    color: white;

    margin: auto;
    padding: 12px;
}

.left-body-main-content {
    height: 49%;
    /* background-color: purple; */
    margin: auto;
    width: 52% !important;
}

.form-group input,
.form-control {
    margin: auto !important;
}

.buttonContent {
    height: 50px;
    margin: 10px;
}

/* effects for submit input */
.buttonContent input,
.buttonContent button {
    background-color: black!important;
    border-color: blue!important;
    color: white!important;
    transition: transform .3s!important;
}

.buttonContent input:hover,
.buttonContent button:hover {
    background-color: darkblue!important;
    border-radius: 8px!important;
    border-color: white!important;
    width: 100px!important;
    transform: scale(1.25)!important;
}

.form-group>label:after {
    content: ' *';
    color: red;
}

.form-group>label:nth-child(2):after {
    content: 'asfd ';
}

.form-group .middle_name:after {
    content: ' ';
}

/* error display */


.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: red;
    font-size: 12px;
    height: 13px;
    padding: 10px;
}