{% extends "base.html" %}

{% block content %}

<title>KEBS School | Admin</title>
{% load static %}
<!-- added custom css -->
<link rel="stylesheet" href="{% static 'css/user/custom/adminDashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/user/custom/view_customer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/common_css/pagination.css' %}">

<!-- Fontawesome CDN Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <div class="container-fluid">
    <header>
      <!-- responsive navbar -->
      {% include "includes/nav.html" %}
    </header>
  </div>


  <div class="container">
    <div class="topic">
      <!-- <form action="" method="POST" enctype="multipart/form-data">
            <img src="{% static 'images/user/default.jpeg' %}" alt="" class="img-thumbnail rounded-circle"/>
            <input type="file" name="image" value="Edit"/>
          </form> -->

      <img src="{% static 'images/user/default.jpeg' %}" alt="" class="img-thumbnail rounded-circle" />
    </div>

    <!-- left tabs -->
    <div class="content">
      <input type="radio" name="slider" checked id="view_customer">
      <input type="radio" name="slider" id="view_appointment">
      <input type="radio" name="slider" id="notice_vacancy">
      <input type="radio" name="slider" id="intro">
      <input type="radio" name="slider" id="add_notice">
      <input type="radio" name="slider" id="add_intro">

      <!-- tabs list -->
      <div class="list">
        <label for="view_customer" class="view_customer">
          <i class="fa-solid fa-user-check"></i>
          <span class="title"><a href="/user/viewCustomer">View Customer</a></span>
        </label>
        <label for="view_appointment" class="view_appointment">
          <span class="icon"><i class="fas fa-blog"></i></span>
          <span class="title"><a href="/user/viewAppointment">Appointment</a></span>
        </label>
        <label for="notice_vacancy" class="notice_vacancy">
          <span class="icon"><i class="far fa-envelope"></i></span>
          <span class="title"><a href="/user/viewNotice">View|Edit Notice</a></span>
        </label>
        <label for="intro" class="intro">
          <span class="icon"><i class="fas fa-code"></i></span>
          <span class="title"><a href="/user/viewIntro">View | Edit Intro</a></span>
        </label>
        <label for="add_notice" class="add_notice">
          <span class="icon"><i class="fa-solid fa-comment-sms"></i></span>
          <span class="title">Add Notice</span>
        </label>
        <label for="add_intro" class="add_intro">
          <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
          <span class="title">Add Intro</span>
        </label>
        <label for="logout" class="logout">
          <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
          <!-- <button><span class="title">Logout</span></button> -->
          <a href="/authenticate/logout">Logout</a>
        </label>
        <div class="slider"></div>
      </div>

      <!-- main right content -->
      <div class="text-content">


        <!-- for showing success message -->
      {% if messages %}

      <div class="alert alert-success" role="alert" id="msg">
        {{messages}}
      </div>
      {% endif %}

       
        <!-- shows customer/users feature -->
        <div class="view_customer text">
          <div class="title">View Customer</div>

          <!-- search bar -->

          <input type="text" placeholder="Search..">

          <!-- sorting features -->

          <form action="">

            <select class="form-selection" aria-label="Disabled select example" id="sorting" name="sort">
              <option selected>Sort Column By</option>
              <option value="firstName">First name</option>
              <option value="lastName">Last name</option>
              <option value="contact">Contact</option>
              <option value="username">Username</option>
            </select>
            <!-- <input type="submit" value="Sort"/> -->
            <button type="submit" class="btn btn-primary">Sort</button>
          </form>

          <br><br>

          <!-- table here -->
          <div class="table-content">
            <table cellspacing="0" id="view_customer_table">
              <thead>
                <tr>
                  <th rowspan="2">Profile</th>
                  <th rowspan="2">First Name</th>
                  <th rowspan="2">Middle Name</th>
                  <th rowspan="2">Last Name</th>
                  <th rowspan="2">Role</th>
                  <th rowspan="2">Contact</th>
                  <th rowspan="2">Username</th>
              </thead>

              <tbody>
                
                {% for user in users %}
                <tr>
                  <td> <img src="/{{ user.image }} "/></td>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.middle_name }}</td>
                  <td>{{ user.last_name }}</td>
                  <td>{{ user.role }}</td>
                  <td>{{ user.contact }}</td>
                  <td>{{ user.username }}</td>

                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          <!-- adding pagination -->
          {% include "includes/pagination.html" %}

        </div>
        <div class="view_appointment text">
          <div class="title">Appointment</div>

          <!-- sorting features -->
          <form action="">
            <select class="form-selection" aria-label="Disabled select example" id="sorting" name="sort">
              <option selected>Sort Column By</option>
              <option value="date">Date</option>
              <option value="time">Time</option>
              <option value="category">Category</option>
              <option value="fullname">Full name</option>
            </select>
            <!-- <input type="submit" value="Sort"/> -->
            <button type="submit" class="btn btn-primary">Sort</button>
          </form>

          <br><br>

          <!-- table here -->
          <div class="table-content">
            <table cellspacing="0" id="view_customer_table">
              <thead>
                <tr>
                  <th rowspan="2">Full Name</th>
                  <th rowspan="2">Contact</th>
                  <th rowspan="2">Date</th>
                  <th rowspan="2">Time</th>
                  <th rowspan="2">Category</th>
                  <th rowspan="2">Description</th>
              </thead>

              <tbody>
               
                {% for customer in customers %}
                <tr>
                  <td>{{ customer.fullName }}</td>
                  <td>{{ customer.contact }}</td>
                  <td>{{ customer.date }}</td>
                  <td>{{ customer.time }}</td>
                  <td>{{ customer.category }}</td>
                  <td>{{ customer.description }}</td>


                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          <!-- adding pagination -->
          {% include "includes/pagination.html" %}
        </div>
        <div class="notice_vacancy text">
          <div class="title">View | Edit | Delete Notice Vacancy Publish</div>

          <!-- sorting features -->
          <form action="">
            <select class="form-selection" aria-label="Disabled select example" id="sorting" name="sort">
              <option selected>Sort Column By</option>
              <option value="date">Date</option>
              <option value="title">title</option>
              <option value="category">Category</option>
            </select>
            <!-- <input type="submit" value="Sort"/> -->
            <button type="submit" class="btn btn-primary">Sort</button>
          </form>

          <br><br>
          <!-- table here -->
          <div class="table-content">
            <table cellspacing="0" id="view_customer_table">
              <thead>
                <tr>
                  <th rowspan="2">Image</th>
                  <th rowspan="2">Title</th>
                  <th rowspan="2">Published date</th>
                  <th rowspan="2">Category</th>
                  <th rowspan="2">Description</th>
                  <th rowspan="2">Action</th>

              <tbody>
                

                {% for notice_detail in notice_details %}
                <tr>
                  <!-- <td> <img src="/{{ notice_detail.image }} "></td> -->
                  <td> <img src="{% static 'images/user/default.png' %}"></td>
                  <td>{{ notice_detail.title }}</td>
                  <td>{{ notice_detail.publish_date }}</td>
                  <td>{{ notice_detail.category }}</td>
                  <td>{{ notice_detail.description }}</td>
                  <td><a href="/user/editNotice/{{notice_detail.notice_id}}"> Edit</a>  | <a href="/user/deleteNotice/{{ notice_detail.notice_id }}">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          <!-- adding pagination -->
          {% include "includes/pagination.html" %}
          
        </div>
        <div class="intro text">
          <div class="title">View | Edit | Delete Introduction</div>

          <!-- table here -->
          <div class="table-content">
            <table cellspacing="0" id="view_customer_table">
              <thead>
                <tr>
                  <th rowspan="2">Image</th>
                  <th rowspan="2">Title</th>
                  <th rowspan="2">Description</th>
                  <th rowspan="2">Action</th>

              <tbody>
                
                {% for intro in intros %}
                <tr>
                  <!-- <td> <img src="/{{ intro.intro_image }} "></td> -->
                  <td> <img src="{% static 'images/intro/default.jpeg' %}"></td>
                  <td>{{ intro.intro_title }}</td>
                  <td>{{ intro.intro_description }}</td>
                  <td><a href="/user/editIntro/{{intro.intro_id}}"> Edit</a>  | <a href="/user/deleteIntro/{{ intro.intro_id }}">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

          <!-- adding pagination -->
          {% include "includes/pagination.html" %}
        </div>
        <div class="add_notice text">

          <!-- add notice feature -->
          <fieldset>
            <h5 class="text-center">Click here to <a href="/user/addNotice"> publish</a> notice.</h5>
          </fieldset>  
          
        </div>
        <div class="add_intro text">
          <!-- add introduction feature -->
          <fieldset>
            <h5 class="text-center">Click here to <a href="/user/addIntro"> write </a> introduction section.</h5>
          </fieldset>
        </div>

      </div>
    </div>

</body>

{% endblock %}