{% extends "base.html" %}

{% block content %}

<title>KEBS School | Home</title>

{% load static %}


<!-- for image sliders -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

</head>

<body>
  <div class="container-fluid">
    <!-- responive header for desktop -->
    {% include "includes/header.html" %}

    <!-- responsive navbar -->
    {% include "includes/nav.html" %}

    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>

    <section>
      <!-- for showing success message -->
      {% if message %}

      <div class="alert alert-success" role="alert">
        <p class="text-success text-center"><strong>{{message}}</strong></p>
      </div>
      {% endif %}

      <!-- for showing error message -->
      {% if error %}

      <div class="alert alert-danger" role="alert" id="msg">
        {{error}}
      </div>
      {% endif %}
    </section>


    <section>

      <div id="makeCarousel" class="carousel carousel-dark slide" data-ride="carousel">

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#makeCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#makeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#makeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#makeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#makeCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>

        <div class="carousel-inner">

          <div class="carousel-item active" data-interval="5000">
            <img src="{% static 'images/childStudying.jpeg' %}" class="d-block w-100 h-60" alt="asf">
            <div class="carousel-caption d-none d-md-block">

              <h2 class="imgTitle">Nursery Student</h2>
              <p class="imgDescp">Enhancing creativity level by drawing</p>
            </div>
          </div>

          <div class="carousel-item" data-interval="5000">
            <img src="{% static 'images/1-building.jpeg' %}" class="d-block w-100 mx-auto img-fluid img-thumbnail h-60"
              alt="school building image">
            <div class="carousel-caption d-none d-md-block">
              <!-- <marquee behavior="alternate" direction="left" scrollamount="12"><span><h2 class="imgTitle">School Building</h2></span></marquee> -->
              <span>
                <h2 class="imgTitle"> School Building </h2>
              </span>
              <p class="imgDescp">KEBS School building from Play Group to class Ten.</p>
            </div>
          </div>

          <div class="carousel-item" data-interval="5000">
            <img src="{% static 'images/1-scoutTroop.JPG' %}" class="d-block w-100 h-60" alt="scout troop image">
            <div class="carousel-caption d-none d-md-block">
              <div class="carousel-caption trickcenter"></div>
              <!-- <h2 class="imgTitle">KEBS Scout Troop</h2>
              
                <p class="imgDescp">During hiking 2075</p>
              </div> -->
              <h2 class="imgTitle">KEBS Scout Troop</h2>
              <p class="imgDescp">We don't only teach subject matters, but also moral and courageous.</p>

            </div>
          </div>

          <div class="carousel-item" data-interval="5000">
            <img src="{% static 'images/photo1.jpeg' %}" class="d-block w-100 h-60" alt="asf">
            <div class="carousel-caption d-none d-md-block">

              <h2 class="imgTitle">Arts Exhibition</h2>
              <p class="imgDescp">From Class 7 and 8</p>
            </div>
          </div>

          <div class="carousel-item" data-interval="5000">
            <img src="{% static 'images/children.jpeg' %}" class="d-block w-100 h-60" alt="asf">
            <div class="carousel-caption d-none d-md-block">

              <h2 class="imgTitle">Children Day</h2>
              <p class="imgDescp">Students are dancing on Children day</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#makeCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"><i
              class="fa-solid fa-circle-arrow-left fa-2x"></i></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#makeCarousel" data-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"><i
              class="fa-solid fa-circle-arrow-left fa-2x fa-flip-horizontal"></i></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>


    <section>
      <div class="introduction-notice">

        <div class="row">
          <div class="introduction-content col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="introduction-main-content">
              <div class="intro-heading">
                <h2>introduction</h2>
              </div>
              <div class="img-content">
                <img src="{% static 'images/1-building.jpeg' %}" alt="picture of KEBS school building"
                  class="img-fluid mx-auto img-thumbnail">
              </div>

              <div class="intro-content">
                <div class="intro-content-top">
                  <p>Karkaladevi English Boarding Schook is popularly known as <acronym
                      title="Karkaladevi English Boarding School">KEBS</acronym> School,
                    is established in 2060 BS (2004 AD)and located at Manthali, Ramechhap. It is the socially and
                    economically
                    inspired and rapidly growing
                    institution with the commitment to impart quality, competitive and good cultured education.
                    The core objectives were to establish academic institutions, and to provide students with quality
                    education.

                    Even though it is a private school, it provides certain scholarships for meritorious student,
                    student
                    of
                    poor socioeconomic status and disadvantaged groups.

                    The students are drawn from different regions of the district, diverse culture and ethnicity
                    allowing
                    them to engage in intercultural understanding and to experience a rich and friendly learning
                    environment.

                    Lastly, The school provides students with ample opportunities to engage in co–curricular and
                    extra–curricular activities that ensure their holistic development which enables them to succeed not
                    only in education but in life as well.This school instills in students moral values such as
                    integrity,
                    responsibility, empathy, collaboration and respect that are essential for students to be a good
                    human
                    being while nurturing their full potential.</p>
                </div>

                <hr>


                <div class="intro-content-button">
                  <a href="#" class="btn btn-primary text-uppercase">read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="notice-content col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="notice-main-content">

              <!-- notice heading section -->
              <div class="notice-heading">
                <h3 class="notice-announcement">notice | announcement</h3>
              </div>

              <!-- published notices -->
              <div class="all-notice-content">

                <!-- first notice -->
                {% for notice_detail in notice_details %}
                <div class="notice-body">
                  
                  <div class="notice-img-content">
                    <div class="notice-img">
                      <a href=""><img class="img-fluid rounded mx-auto "
                          src="https://www.polar.com/sites/default/files/static/categories/team_sports-desktop.jpg"
                          alt="" /></a>
                    </div>
                  </div>

                  <div class="notice-body-content">
                    <div class="notice-title">
                      <a href="">
                        <h4>{{ notice_detail.title }}</h4>
                      </a>
                    </div>
                    <div class="notice-publish-date">
                      <p>{{ notice_detail.publish_date }} | {{ notice_detail.category }}</p>

                    </div>
                    <div class="notice-info">
                      <p>{{ notice_detail.description}} </p>

                    </div>
                  </div>
                  
                </div>
                {% endfor %}


              <!-- lower notice button -->
              <!-- <div class="notice-button-section text-center">
                <a href="#" class="btn btn-primary text-uppercase justify-center">read more</a>

              </div> -->


            </div>
          </div>

        </div>
      </div>
  </div>
  </section>



  <section>
    <div class="row vision-philosophy-mission-content">

      <div class="col-lg-4 col-sm-4 col-4 vision-philosophy-mission">sdf</div>
      <div class="col-lg-4 col-sm-4 col-4  vision-philosophy-mission">dg</div>
      <div class="col-lg-4 col-sm-4 col-4  vision-philosophy-mission">dfgg</div>
      <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
          <div class="card h-68 bg-success">
            <div class="card-body">
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 bg-primary">
            <div class="card-body-content">
              thisis
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 bg-secondary">
            <div class="card-body">
            </div>
          </div>
        </div>

      </div> -->

    </div>
    <div class="row" style="height: 400px; background-color: pink;"></div>
    <div class="row" style="height: 400px; background-color: red;"></div>
    <div class="row" style="height: 400px; background-color: grey;"></div>
  </section>

  </div>

  <!-- js for hiding error message -->
  <script>
    setTimeout(function () {
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 5000)
  </script>


  {% endblock %}