/* for responsive header */
.header-text {
    font-size: 14px;
    text-align: left;

}

.header-row .header-text,
.header-row .header-btn {
    padding-top: 25px;
}

.header-row .header-btn {
    text-align: rightrgb(59, 62, 62);

}

.header-row .header-btn>button:hover {
    background-color: rgb(65, 70, 223);
    font-weight: bold;
}

.schoolLogo {
    height: 66px;
    width: 311px;
}

.dropdown-menu a:hover {
    background-color: blueviolet;
    color: white;

}

.dropdown-menu {
    z-index: 99999 !important;
}

/* for desktop */
@media only screen and (min-width:1025px) {
    .header-row-show {
        display: none;
    }

}

/* for mobiles and tablets */
@media only screen and (max-width:1025px) {
    header {
        display: none;
    }

    .header-row-show {
        visibility: visible !important;
    }

    #makeCarousel img {
        height: 300px !important;
    }

    
}

/* responsive size of carousel images */
@media only screen and (min-width:992px) {
    #makeCarousel img {
        height: 450px !important;
    }

}

@media only screen and (max-width:576px) {
    .img-content img {
        height: 250px !important;
    }
 
}

/* for responsive Nav bar */
.navbar {
    background-color: #696363;
    margin-top: 10px;
    transition: 0.3s;
}


.navbar-nav>.navbar-item {
    font-size: 23px;

}

.navbar-collapse,
.navbar {
    vertical-align: top;
    text-align: center;
}

/* custom color in active link */

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    transition: transform .3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #413F42 !important;
    color: white !important;
    font-size: 25px;
    z-index: 12px;
    transform: scale(0.75);
}




.navbar-dark .navbar-nav .nav-link.active {
    font-size: 23px !important;
    background-color: #04AA6D !important;


}

ul {
    margin: auto;
}

ul li {
    padding-left: 30px;
}

/* For scroll indicator */

.progress-container {
    width: 100%;
    height: 7px;
    background: #ccc;
    position: fixed;
    left: 0;
    bottom: 0;

}

.progress-bar {
    height: 7px;
    width: 0%;
}

/* for shrinking navabar */
.primary-nav {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.shrink {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 50px !important;

}

.shrink .navbar-brand {
    height: 0 !important;
    line-height: 0 !important;
}

.shrink a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/* for slider images */
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 970%;
    margin: auto;
}

#makeCarousel img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.imgTitle {
    border-radius: 8px;
    background-color: #413F42;
    color: white;
    display: inline-block;
}

.imgDescp {
    border-radius: 8px;
    background-color: white;
    font-weight: bolder;
    color: black;
    width: 50%;
    margin-left: 27%;
}

marquee h2 {
    animation-name: img-title;
    animation-duration: 6.9s;

}

@keyframes img-title {
    0% {
        color: white;
        background-color: black;
    }

    25% {
        color: black;
        background-color: white;
    }

    50% {
        color: blue;
        background-color: grey;
    }

    100% {
        color: green;
        background-color: whitesmoke;
    }
}

/* .changeColor {
    color: blue !important;
    background-color: red !important;
} */
/* 
.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    left:4;
    bottom:10;
    width:100%;
    height:100%;
}

.carousel-caption p {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.trickcenter {
    position: relative;
    
    transform: translate(-50%, -50%);
} */



/* introduction and notice body */

.introduction-notice {
    margin-top: 10px;
}

/* .introduction-content {
    background-color: green;
    height:800px;
} */

.introduction-main-content {
    background-color: #b5a8a8;
    border-radius: 8px;
    margin: 3% 3% 5% 3%;
    width: 94%;
    height: 96%;
}


.introduction-content h2 {

    padding: 10px;
    text-transform: capitalize;
}


/* for image */
.img-content img {
    height: 400px;
    width: 100%;
}

/* for introduction */

.intro-content {
    /* background-color: pink; */
    border-radius: 8px;
    height: 300px;
    padding-top: 5px;

}

.intro-content-top p {
    background-color: #534e4e;
    color: white;
    font-size: 16px;
    /* height: 200px; */
    padding: 20px;
    text-align: justify;
    border-radius: 8px;

    /* white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis; */
}


/* read more button */
.intro-content-button a {
    float: right;
    margin-right: 15px;

}


.intro-content hr {
    border: 3px solid rgb(0, 0, 0);
}


/* for notice content */
.notice-content {
    /* background-color: blue; */
    height: 600px;
}

.all-notice-content {
    overflow: scroll;
    height: 80%;
}

.notice-main-content {
    background-color: #F4D2D2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 3% 3% 3% 3%;
    height: 96%;

}

.notice-button-section {
    height: 4%;
    padding: 13px;
}

.notice-announcement {
    background-color: #0B4DAF;
    color: white;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;

}

.notice-body {
    /* background-color: red; */
    border-bottom: solid;
    display: flex;
    margin-top: 15px;
    height: 150px;
}

/* left side notice image */
.notice-img-content {
    /* background-color: purple; */
    width: 30%;
    height: 100%;
}

.notice-img {
    /* background-color: #04AA6D;
    border-radius: 30px; */
    height: 90%;
    width: 80%;
    margin: 0 auto 0 auto;

}

.notice-img a img {
    /* border-radius: 30px; */
    margin-top: 4%;
    height: 100%;
    width: 100%;
}

/* right side notice content */
.notice-body-content {
    /* background-color: grey; */
    padding: 10px;
    height: 100%;
    width: 70%;
}

.notice-title a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.notice-publish-date>p {
    color: #413F42
}

.notice-info>p {
    color: black;
}


/*  vision-philosophy-mission content*/

section .row>.col {
    margin: 5% !important;
    height: 200px !important;
}

.vision-philosophy-mission {
    background-color: #0B4DAF;
    height: 40%;
    width: 30%;
    margin: 3.33%;
}


/* *********************************** for mssion vission and aim ************************ */

.column {
    
    margin: auto;
    width: 30%;
    padding: 0 10px;
    height: 200px;
}



/* Style the counter cards */
.vision_card,
.philosophy_card,
.mission_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    height: 100%;

}

.vision_card,
.philosophy_card,
.mission_card, .right-icons, .left-icons {

    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    transition: transform 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.vision_card:hover,
.philosophy_card:hover,
.mission_card:hover, .right-icons:hover, .left-icons:hover {
    background-size: 105px;
    transform: scale(1.15);

}

.vision_card:hover {
    background-color: #0d870b;

}

.philosophy_card:hover {
    background-color: #1f4eab;

}

.mission_card:hover {
    background-color: #45453e;

}

.vision_card {
    background-image: url('../../../images/home/icons/vision.png');
    background-color: #52EC4F;
}

.philosophy_card {
    background-image: url('../../../images/home/icons/philosophy.png');
    background-color: #578BF0;
}

.mission_card {
    background-image: url('../../../images/home/icons/target.png');
    background-color: #6C6C5F;
}


/* text on the icons */
.row .column p {
    position: relative;
    top: 133px;
    color: white;
    font-size: 24px;

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}



/* *********************** for middle part ************************ */

.middle-part{
    /* background-color: green; */
    height: 800px;
    margin-top: 8px;
    padding: 8px;
    display: flex;
}

.middle-part > div{
    margin: auto;
    width: 48%;
    padding: 0 10px;
    height: inherit;
    
}

#left-img{
    background-image: url('../../../images/home/photo1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

}

/* #right-content{
    background-color: red;
} */

#right-top{
    /* background-color: grey; */
    height: 70%;
    padding: 8px;

}

#right-top ul {
    list-style: none;
    font-style: bold;
}



#right-bottom{
    background-color: white;
    height: 30%;
    display: flex;
    
}


/* right bottom icons */

#right-bottom > div{
    width: 46%;
    margin: auto;
    height: 90%;
    /* float: left; */
    
}

#right-bottom p {
    position: relative;
    top: 164px;
    color: white;
    font-size: 24px;
    text-align: center;
}
#right-bottom a {
    text-decoration: none;
    color: white;
}



.right-icons {
    background-image: url('../../../images/home/icons/appoinment.png');
}

.left-icons, .right-icons {
    background-color: #2A5276;
}
.left-icons {
    background-image: url('../../../images/home/icons/enroll.png');
}

.right-icons:hover{
    background-color: #34628b;
}

@media only screen and (max-width:922px) {
    .middle-part {
        display: block;
    }

    .middle-part > div {
        width: 100%;
    }

    
}



/* *********************** messages content **************************  */
.messages-content{
    background-color: green;
    height: 600px;
    padding: 8px;
    display: flex;
    margin-top: 16px;
}

.messages-content > div {
    width: 40%;
    background-color: red;
    height: inherit;
    margin: 8px auto auto auto;
    
}






/* main body container */
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


@media screen and (max-width: 426px) {

    .card-body {
        height: 300px !important;
    }
}